/* ESTILOS DEL FOOTER */

@use "../mixins/responsive.scss" as *;

.footer {
  padding: 0 28px;
  background-color: var(--background-color-footer);
  color: var(--white);
  display: flex;
  flex-direction: column-reverse;

  @include responsive(desktop) {
    padding: 120px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    width: 200px;
    margin-bottom: 16px;

    @include responsive(desktop) {
      width: 240px;
      margin-bottom: 24px;
    }
  }

  &__contact--text {
    font-family: var(--font-family-open-sans);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  &__text {
    font-family: var(--font-family-open-sans);
    font-weight: var(--font-weight-regular);
    font-size: 14px;

    @include responsive(desktop) {
      font-size: 16px;
    }
  }

  &__contact {
    margin-bottom: 48px;

    @include responsive(desktop) {
      width: 340px;
    }
  }

  &__contact--icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__newsletter {
    margin-bottom: 100px;

    @include responsive(desktop) {
      width: 520px;
    }
  }

  &__newsletter--title {
    font-family: var(--font-family-open-sans);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    margin-bottom: 16px;

    @include responsive(desktop) {
      font-size: 24px;
    }
  }

  &__newsletter--text {
    font-family: var(--font-family-open-sans);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;

    @include responsive(desktop) {
      padding-right: 175px;
    }
  }

  &__newsletter--buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;

    @include responsive(desktop) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
    }
  }
}

.footer__curve {
  width: 475px;
  overflow: hidden;
  position: relative;
  top: 0;

  @include responsive(desktop) {
    width: 100%;
    top: 0;
    top: 2px;
  }
}
