@use "../mixins/responsive.scss" as *;

.section-initial{
    padding: 0 40px;
    text-align: center;
    margin-bottom: 120px;

    @include responsive(desktop){
        padding: 0 210px;
    }

    &__container{
        margin-bottom: 100px;

        @include responsive(desktop){
            margin-bottom: 120px;
        }
    }

    &__title{
        font-family: var(--font-family-poppins);
        font-weight: var(--font-weight-bold);
        font-size: 24px;
        line-height: 36px;
        margin: 0;
        color: var(--text-color);
        margin-bottom: 24px;

        @include responsive(desktop){
            font-size: 48px;
            line-height: 72px;
            margin-bottom: 26px;
        }
    }

    &__text{
        font-family: var(--font-family-open-sans);
        font-weight: var(--font-weight-regular);
        font-size: 14px;
        line-height: 21px;
        color: var(--text-color);
        margin-bottom: 48px;

        @include responsive(desktop){
            padding: 0 210px;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 80px;
        }
    }
}