@use "../mixins/responsive.scss" as *;

.section-numbers{
    padding: 0 108px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-bottom: 180px;

    @include responsive(desktop){
        padding: 0 280px;
        flex-direction: row;
        justify-content: space-between;
    }

    &__icon{
        width: 35px;
        margin-bottom: 16px;

        @include responsive(desktop){
            width: 56px;
        }
    }

    &__title{
        font-family: var(--font-family-open-sans);
        font-weight: var(--font-weight-bold);
        font-size: 60px;
        margin: 0;
        margin-bottom: 16px;
        color: var(--text-color);

        @include responsive(desktop){
            font-size: 95px;
        }
    }

    &__text{
        font-family: var(--font-family-open-sans);
        font-weight: var(--font-weight-regular);
        font-size: 16px;
        color: var(--color-secundary);
        text-align: center;

        @include responsive(desktop){
            font-size: 24px;
        }
    }
}