:root {
  --color-primary: #FF52C1;
  --color-secundary: #808E9A;
  --text-color: #00252E;
  --background-color: #F6FBFF;
  --white: white;
  --background-color-footer: #00252E; 
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* Variables SASS */
